* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* DIFF IN HEART ANIM */
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  color: black;
  background: white;
}

nav {
  color: black;
  background: white;
}

section {
  font-family: 'Roboto', sans-serif;
  color: black;
  background: #f0f0f0;
}

footer {
  color: black;
  font-family: 'Roboto', sans-serif;
  background-color: black;
}

.title {
  font-family: 'Roboto', sans-serif;
  color: black;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 40px;
}

.title__left {
  color: black;
  background-color: white;
  border: none;
  position: relative;
  left: 20px;
}

.title__text {
  font-family: 'Shrikhand', sans-serif;
  font-size: 1.5em;
  text-align: center;
}

.title__right {
  border: none;
  color: white;
  background-color: white;
}

.navbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: Roboto;
  background-color: white;
}

.navbox__text {
  display: inline-block;
  justify-content: center;
  justify-content: space-around;
  text-align: center;
  background-color: #f0f0f0;
  height: 260px;
  width: 320px;
}

.navbox__text__loc {
  border: none;
  justify-content: start;
  font-family: 'Roboto', sans-serif;
  height: 30px;
  width: 310px;
  background-color: #e0dcdc;
  padding: 5px;
  color: black;
}

.navbox__text__loc__mark {
  text-decoration: none;
  background-color: #e0dcdc;
}

.navbox__text__text1 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: 900;
  height: 60px;
  padding: 20px;
}

.navbox__text__text2 {
  font-size: 1.0em;
  height: 60px;
  padding: 20px 20px 70px 20px;
}

.navbox__text__explore {
  font-size: 1.0em;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  border: none;
  color: white;
  background-image: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
}

.navbox__text__explore:hover {
  background-image: linear-gradient(#ff80dc, #985ede);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
}

.navbox__method {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-height: 400px;
  min-width: 320px;
}

.navbox__method__text {
  height: 60px;
  font-size: 1.5em;
  font-weight: 700;
  padding: 20px;
}

.navbox__method__steps {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
  grid-gap: 20px;
  padding: 15px;
}

.navbox__method__steps__1 {
  width: 250px;
  height: 50px;
  text-align: left;
  font-size: .7em;
  font-weight: 700;
  border: none;
  padding: 20px;
  border-radius: 15px;
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
}

.navbox__method__steps__1__a {
  padding: 3px 6px 3px 6px;
  color: white;
  background-color: #9356DC;
  border-radius: 10px;
  position: relative;
  right: 30px;
}

.navbox__method__steps__1__b {
  position: relative;
  right: 15px;
}

.navbox__method__steps__1:hover {
  background-color: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
}

p2 {
  font-size: 1.0em;
  font-weight: 700;
}

p3 {
  font-size: .8em;
  font-weight: 400;
}

p4 {
  font-size: .8em;
  font-weight: 900;
}

.sectiontitle {
  font-family: 'Roboto', sans-serif;
  min-width: 320px;
  height: 30px;
  font-weight: 900;
  padding: 10px;
}

.eatery {
  font-family: 'Roboto', sans-serif;
  justify-content: center;
}

.eatery__box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  grid-gap: 20px;
}

.eatery__box__rest {
  border: none;
  background-color: white;
  width: 280px;
  height: 250px;
  border-radius: 15px;
}

.eatery__box__rest__pic {
  width: 280px;
  height: 200px;
  object-fit: cover;
  object-position: 50% 50%;
  float: inline-start;
  border-radius: 15px 15px 0 0;
}

.eatery__box__rest__txt {
  display: grid;
  grid-template-columns: 220px 20px 20px;
  justify-content: center;
  text-align: left;
  text-decoration: none;
  margin-left: 0px;
  padding: 2px 5px 0px 5px;
  color: black;
  width: 270px;
  height: 50px;
}

.eatery__box__rest__txt__meld {
  display: block;
  position: relative;
  width: 220px;
  height: 50px;
  text-align: left;
}

.eatery__box__rest__txt__heart {
  font-size: 21px;
  position: relative;
  left: 18px;
  top: 10px;
}

.eatery__box__rest__txt__heartfill {
  font-size: 17px;
  position: relative;
  top: 12.5px;
  color: white;
}

.eatery__box__rest__txt__heartfill:hover {
  animation: fill-heart 4s;
}

.eatery__box__rest__txt__heartfill:active {
  animation: empty-heart 2s;
}

.eatery__box__rest:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
}

.menuhead {
  border: none;
  background-color: #f0f0f0;
  min-width: 320px;
  height: 220px;
}

.menuhead__pic {
  width: 100%;
  height: 190px;
  object-fit: cover;
  object-position: 50% 55%;
  float: inline-start;
}

.menuhead__txt {
  display: grid;
  grid-template-columns: 240px 20px 20px;
  position: relative;
  bottom: 20px;
  align-items: center;
  font-family: 'Shrikhand';
  text-align: left;
  font-size: 1.2em;
  background-color: #f0f0f0;
  border: none;
  margin-left: 0px;
  min-width: 280px;
  height: 50px;
  padding: 20px;
  border-radius: 25px 25px 0 0;
}

.menuhead__txt__heart {
  font-size: 21px;
  position: relative;
  left: 18px;
}

.menuhead__txt__heartfill {
  font-size: 17px;
  position: relative;
  color: white;
}

.menuhead__txt__heartfill:hover {
  animation: fill-heart 4s;
}

.menuhead__txt__heartfill:active {
  animation: empty-heart 2s;
}

@keyframes fill-heart {
  0% {
    color: white;
  }
  100% {
    color: red;
  }
}

@keyframes empty-heart {
  0% {
    color: red;
  }
  100% {
    color: white;
  }
}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  min-width: 320px;
}

.menu__course {
  width: 320px;
  padding-bottom: 10px;
}

.menu__course__txt {
  height: 50px;
  font-size: 0.8em;
  padding: 20px;
}

.menu__course__opts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
  grid-gap: 10px;
}

.menu__course__opts__1 {
  display: grid;
  grid-template-columns: 245px 25px;
  align-items: flex-end;
  height: 50px;
  font-size: .8em;
  justify-content: center;
  border: none;
  padding: 10px;
  border-radius: 15px;
  background-color: white;
  animation: slidein 3000ms 0ms;
}

.menu__course__opts__1:hover {
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
}

.menu__course__opts__2 {
  display: grid;
  grid-template-columns: 245px 25px;
  align-items: flex-end;
  height: 50px;
  font-size: .8em;
  justify-content: center;
  border: none;
  padding: 10px;
  border-radius: 15px;
  background-color: white;
  animation: slidein 3000ms 200ms;
}

.menu__course__opts__2:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
}

.menu__course__opts__3 {
  display: grid;
  grid-template-columns: 245px 25px;
  align-items: flex-end;
  height: 50px;
  font-size: .8em;
  justify-content: center;
  border: none;
  padding: 10px;
  border-radius: 15px;
  background-color: white;
  animation: slidein 3000ms 400ms;
}

.menu__course__opts__3:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
}

.menu__course__opts__4 {
  width: 290px;
  height: 50px;
  font-size: .8em;
  justify-content: center;
  border: none;
  padding: 10px;
  border-radius: 15px;
  background-color: white;
  animation: slidein 3000ms 600ms;
}

.menu__course__opts__4:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
}

@keyframes slidein {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
    transform: translateY(40%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.order {
  display: grid;
  justify-content: space-around;
  background-color: #f0f0f0;
  align-items: center;
  padding: 10px 60px 10px 60px;
  border: none;
  color: white;
}

.order__bubble {
  text-align: center;
  width: 200px;
  height: 50px;
  padding: 15px 20px 5px 20px;
  font-size: .9em;
  border-radius: 25px;
  border: none;
  background-image: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
}

.order__bubble:hover {
  background-image: linear-gradient(#ff80dc, #985ede);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
}

.foot {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-height: 400px;
  min-width: 320px;
}

.foot__text {
  height: 60px;
  width: 250px;
  color: #e0dcdc;
  text-align: left;
  font-family: Shrikhand;
  font-size: 1.5em;
  padding: 10px;
}

.foot__notes {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
  grid-gap: 10px;
  font-family: 'Roboto', sans-serif;
}

.foot__notes__1, .foot__notes__2, .foot__notes__3, .foot__notes__4 {
  text-decoration: none;
  width: 250px;
  height: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.0em;
  text-align: left;
  border: none;
  padding: 5px;
  border-radius: 25px;
  color: #e0dcdc;
  background-color: black;
}

.foot__notes__1:hover, .foot__notes__2:hover, .foot__notes__3:hover, .foot__notes__4:hover {
  color: white;
}

.foot__notes__1 a1, .foot__notes__2 a1, .foot__notes__3 a1, .foot__notes__4 a1 {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #f0f0f0;
}
/*# sourceMappingURL=main.css.map */