$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$textcolor: black;
$backgroundcolor: white;

$title-fontfamily: shrikhand;
$text-fontfamily: 'roboto'; 

$accent-color: #ff652f;
$text-color: #fff;
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);
$mobile: 800px;
