$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$textcolor: black;
$foottextcolor: #fff;
$backgroundcolor1: white;
$backgroundcolor2: #f0f0f0;
$backgroundcolor3: rgb(224, 220, 220);
$backgroundcolor4: black;

$accent-color: #ff652f;
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);
$fontsize1: 2.0em;
$fontsize2: 1.5em;
$fontsize3: 1.2em;

$mobile: 800px;

$slidein-dur: 4000ms;
$slidein-delay: 0ms;

$fudge: 2px; /* DIFF IN HEART ANIM */