$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$textcolor: black;
$backgroundcolor1: white;
$backgroundcolor2: #f2f2f2;
$backgroundcolor3: grey;
$backgroundcolor4: black;

$accent-color: #ff652f;
$text-color: #fff;
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);
$fontsize1: 2.0em;
$fontsize2: 1.5em;
$fontsize3: 1.2em;

$mobile: 800px;
