@import './resets';
@import './variables';


body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}   
header {
    color: $textcolor;
    background: $backgroundcolor1;
}
nav {
    color: $textcolor;
    background: $backgroundcolor1;
}
section {
    font-family: 'Roboto', sans-serif;
    color: $textcolor;
    background: $backgroundcolor2;
}
footer {
    color: $textcolor;
    font-family: 'Roboto', sans-serif;
    background-color: $backgroundcolor4;
}
.title {
    font-family: 'Roboto', sans-serif;
    color: $textcolor;
    background-color: $backgroundcolor1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    &__left {
        color: $textcolor;
        background-color: $backgroundcolor1;
        border: none;
        position: relative;
        left: 20px;       
    }
    &__text {
        font-family: 'Shrikhand', sans-serif;
        font-size: $fontsize2;
        text-align: center;
    }
    &__right {
        border: none;
        color: $backgroundcolor1;
        background-color: $backgroundcolor1;      
    }
}

.navbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: Roboto;
    background-color: $backgroundcolor1;
    &__text {
        display: inline-block;
        justify-content: center;
        justify-content: space-around;
        text-align: center;
        background-color: $backgroundcolor2;
        height: 260px;
        width: 320px;
        &__loc {
            border: none;
            justify-content:start;
            font-family: 'Roboto', sans-serif;
            height: 30px;
            width: 310px;
            background-color: $backgroundcolor3;
            padding: 5px;
            color: black;
            &__mark {
                text-decoration: none;
                background-color: $backgroundcolor3;
            }
        }
        &__text1 {
            font-family: 'Roboto', sans-serif;
            font-size: 1.2em;
            font-weight: 900;
            height: 60px;
            padding: 20px;
        }
        &__text2 {
            font-size: 1.0em;
            height: 60px;
            padding: 20px 20px 70px 20px;
        }
        &__explore {
            font-size: 1.0em;
            width: 200px;
            height: 50px;
            border-radius: 25px;
            border: none;
            color: white;
            background-image: linear-gradient($secondary-color, $primary-color);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
            &:hover {
                background-image: linear-gradient(mix($secondary-color, white, 95%), mix($primary-color, white, 95%));
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
            }
        }
    }
    &__method {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-height: 400px;
        min-width: 320px;
        &__text {
            height: 60px;
            font-size: $fontsize2;
            font-weight: 700;
            padding: 20px;
        }
        &__steps {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            justify-content: space-around;
            grid-gap: 20px;
            padding: 15px;
            &__1 {
                width: 250px;
                height: 50px;
                text-align: left;
                font-size: .7em;
                font-weight: 700;
                border: none;
                outline: none;
                padding: 20px;
                border-radius: 15px;
                background-color: $backgroundcolor2;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
                &__a {
                    padding: 3px 6px 3px 6px;
                    color: white;
                    background-color: $primary-color;
                    border-radius: 10px;
                    position: relative;
                    right: 30px;
                }
                &__b {
                    position: relative;
                    right: 15px;
                }
                &:hover {
                    outline: none;
                    background-color: mix($primary-color, white, 20%);
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
                }
            }
        }
    }
}
p2 {
    font-size: 1.0em;
    font-weight: 700;
}
p3 {
    font-size: .8em;
    font-weight: 400;
}
p4 {
    font-size: .8em;
    font-weight: 900;
}

.sectiontitle {
    font-family: 'Roboto', sans-serif;
    min-width: 320px;
    height: 30px;
    font-weight: 900;
    padding: 10px;
}
.eatery {
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    &__box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        grid-gap: 20px;
        &__rest {
            border: none;
            background-color: white;
            width: 280px;
            height: 250px;
            border-radius: 15px;
            &__pic {
                width: 280px;
                height:200px;
                object-fit: cover;
                object-position: 50% 50%;
                float: inline-start;
                border-radius: 15px 15px 0 0;
            }
            &__txt {
                display: grid;
                grid-template-columns: 220px 20px 20px;
                justify-content: center;
                text-align: left;
                text-decoration: none;
                margin-left: 0px;
                padding: 2px 5px 0px 5px;
                color: black;
                width: 270px;
                height: 50px;
                &__meld {
                    display: block;
                    position: relative;
                    width: 220px;
                    height: 50px;
                    text-align: left;
                }
                &__heart {
                    font-size: 21px;
                    position: relative;
                    left: 18px;
                    top: 10px;
                } 
                &__heartfill {
                    font-size: 17px;
                    position: relative;
                    top: 12.5px;
                    color: white;
                    transition: color 2s;
                    &:hover {
                        /*animation: fill-heart 4s;*/
                        color: red;
                    } 
                    &:active {
                        animation: empty-heart 2s;
                    }
                }
        
            }
            &:hover {
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
            }
        }
    }
}
.menuhead {
    border: none;
    background-color: $backgroundcolor2;
    min-width: 320px;
    height: 220px;
    &__pic {
        width: 100%;
        height:190px;
        object-fit: cover;
        object-position: 50% 55%;
        float: inline-start;
    }
    &__txt {
        display: grid;
        grid-template-columns: 240px 20px 20px;
        position: relative;
        bottom: 20px;
        align-items: center;
        font-family: 'Shrikhand';
        text-align: left;
        font-size: 1.2em;
        background-color: $backgroundcolor2;
        border: none;
        margin-left: 0px;
        min-width: 280px;
        height: 50px;
        padding: 20px;
        border-radius: 25px 25px 0 0;
        &__heart {
            font-size: 21px;
            position: relative;
            left: 18px;
        } 
        &__heartfill {
            font-size: 17px;
            position: relative;
            color: white;
            transition: color;
            &:hover {
                /*animation: fill-heart 4s;*/
                color: red;
            } 
            &:active {
                animation: empty-heart 2s;
            }
        }
    }
}
@keyframes fill-heart {
    0%   { color: white; }
    100% { color: red; }
}
@keyframes empty-heart {
    0%   { color: red; }
    100% { color: white; }
}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    min-width: 320px;
    &__course {
        width: 320px;
        padding-bottom: 10px;
        &__txt {
            height: 50px;
            font-size: 0.8em;
            padding: 20px;
        }
        &__greenline {

            height: 5px;
            width: 40px;
            position: relative;
            left: 20px;
            bottom: 10px;
            background-color: $tertiary-color;
        }
        &__opts {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            justify-content: space-around;
            grid-gap: 10px;
            &__1 {
                display: grid;
                grid-template-columns: 240px 40px 60px;
                height: 50px;
                width: 290px;
                font-size: .8em;
                justify-content: left;
                align-items: center;
                border: none;
                padding: 0 0 0 10px;
                border-radius: 15px;
                overflow: hidden;
                background-color: $backgroundcolor1;
                animation: slidein 3000ms -600ms;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
                &__plate {
                    display: grid;
                    grid-template-rows: 20px 15px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                &__check {
                    position: relative;
                    text-align: center;
                    height: 50px;
                    width: 60px;
                    border-radius: 0 15px 15px 0;
                    background-color: $tertiary-color;
                    overflow: hidden;
                    &__mark {
                        position: relative;
                        top: 13px;
                        text-align: center;
                        padding: 5px;
                        color: $tertiary-color;
                        background-color: white;                     border-radius: 15px;
                        font-size: 15px;
                    }
                }
                &:hover {
                    cursor: pointer;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    transition: all 350ms linear;
                    
                    /*animation: choose 5s;*/
                }
            }
            &__2 {
                display: grid;
                grid-template-columns: 245px 25px;
                align-items: flex-end;
                height: 50px;
                font-size: .8em;
                justify-content: center;
                border: none;
                padding: 10px;
                border-radius: 15px;
                background-color: $backgroundcolor1;
                animation: slidein 3000ms -400ms;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
                &:hover {
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
                }
            }
            &__3 {
                display: grid;
                grid-template-columns: 245px 25px;
                align-items: flex-end;
                height: 50px;
                font-size: .8em;
                justify-content: center;
                border: none;
                padding: 10px;
                border-radius: 15px;
                background-color: $backgroundcolor1;
                animation: slidein 3000ms -200ms;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
                &:hover {
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
                }
            }
            &__4 {
                width: 290px;
                height: 50px;
                font-size: .8em;
                justify-content: center;
                border: none;
                padding: 10px;
                border-radius: 15px;
                background-color: $backgroundcolor1;
                animation: slidein 3000ms 000ms;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
                &:hover {
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
                }
            }

        }
    }
} /*.menu__course__opts__1__plate */
.ellipse {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@keyframes choose {
    0% {grid-template-columns: 240px 40px 60px;}
    5% {grid-template-columns: 232px 40px 60px;}
    10% {grid-template-columns: 225px 40px 60px;}
    15% {grid-template-columns: 217px 40px 60px;}
    20% {grid-template-columns: 210px 40px 60px;}

    25% {grid-template-columns: 202px 40px 60px;}
    30% {grid-template-columns: 195px 40px 60px;}
    35% {grid-template-columns: 187px 40px 60px;}
    40% {grid-template-columns: 180px 40px 60px;}
   100% {grid-template-columns: 180px 40px 60px;}
/*
    60% {grid-template-columns: 180px 40px 60px;}
    65% {grid-template-columns: 187px 40px 60px;}
    70% {grid-template-columns: 195px 40px 60px;}
    75% {grid-template-columns: 202px 40px 60px;}
    80% {grid-template-columns: 210px 40px 60px;}
    85% {grid-template-columns: 217px 40px 60px;}
    90% {grid-template-columns: 225px 40px 60px;}
    95% {grid-template-columns: 232px 40px 60px;}
    100% {grid-template-columns: 240px 40px 60px;}
*/  
}
@keyframes slidein {
    0% {opacity: 0;}
    25% {opacity: 0;
        transform: translateY(40%);}
    100% {opacity: 1;
         transform: translateY(0%);}
}
.order {
    display: grid;
    justify-content: space-around;
    background-color: $backgroundcolor2;
    align-items: center;
    padding: 10px 60px 10px 60px;
    border: none;
    color: white;
    &__bubble {
        text-align: center;
        width: 200px;
        height: 50px;
        padding: 15px 20px 5px 20px;
        font-size: .9em;
        border-radius: 25px;
        border: none;
        background-image: linear-gradient($secondary-color, $primary-color);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
        &:hover {
            background-image: linear-gradient(mix($secondary-color, white, 95%), mix($primary-color, white, 95%));
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
        }
    }
}

.foot {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-height: 400px;
    min-width: 320px;
    &__text {
        height: 60px;
        width: 250px;
        color: $backgroundcolor3;
        text-align: left;
        font-family: Shrikhand;
        font-size: $fontsize2;
        padding: 10px;
    }
    &__notes {
        text-decoration: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        justify-content: space-around;
        grid-gap: 10px;
        font-family: 'Roboto', sans-serif;
        &__1, &__2, &__3, &__4 {
            text-decoration: none;
            width: 250px;
            height: 20px;
            font-family: 'Roboto', sans-serif;
            font-size: 1.0em;
            text-align: left;
            border: none;
            padding: 5px;
            border-radius: 25px;
            color: $backgroundcolor3;
            background-color: $backgroundcolor4;
            &:hover {
                color: white;
            }
            a1 {
                text-decoration: none;
            }
                    }
    }
}
a {
    text-decoration: none;
    color: $backgroundcolor2;
}

