@import './resets';
@import './variables';


body {
    font-weight: map-get($font-weights, regular);
}   
header {
    font-family: $title-fontfamily;
    color: $textcolor;
    background: blue; /*$backgroundcolor;*/
    text-align: center;
}
.title {
    color: $text-color;
    background-color: $backgroundcolor;
    font-family: $title-fontfamily;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 32px;

}
.headbox {
    background-color: $text-color3;

}
nav {
    color: $textcolor;
    background: $backgroundcolor;
}
section {
    color: $textcolor;
    background: $backgroundcolor;
}
footer {
    color: $textcolor;
    background: $backgroundcolor;
}

.main {
    width: 80%;
    margin: 0 auto;
    
    #{&}__paragraph1 {
        font-weight: map-get($font-weights, regular);

        &:hover {
            color: yellow;
        }
    }
}

